# Базовые настройки
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=infraportal
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DEBUG=True
SECRET_KEY=generate_a_secure_random_key_here
ALLOWED_ORIGINS=http://localhost:3000

# LDAP Настройки (Используются для начального наполнения БД)
LDAP_ENABLED=False
LDAP_URI=ldap://localhost:389
LDAP_BASE_DN=dc=example,dc=com
LDAP_BIND_DN=cn=admin,dc=example,dc=com
LDAP_BIND_PASSWORD=admin_password
LDAP_USER_FILTER=(memberOf=cn=groups,...)
LDAP_SYNC_SCHEDULE=0 0 * * *

# Celery/Flower Settings
REDIS_TASK_URL=redis://redis:6379/0
FLOWER_API_URL=http://flower-service:5555
CELERY_WORKER_API_KEY=generate_a_secure_random_key_for_worker
TASK_TIMEOUT=300
